
<div class="asfbartistxpmaincontainer">
        <div class="fbartistxpnavwrapper">
          <!--<app-newsignupheader></app-newsignupheader>-->
          <app-signupheader></app-signupheader>
        </div>
      <div class="asfbartistxpsubcontainer communitysignupnewblock1">
        <div class="container-fluid competitionblock2 activecompetitionblock2">
          <div class="row no-gutter blastorpassmainpwrapper">
            <div class="artistsexchangeleftdiv">
              <div class="fbartistxptextwrapper">
                <h1>Blast or Pass</h1>
                <p>
                  <strong>Sign-up to be an affiliate and help spread the word about this brand new artist community!</strong>
                  This is an amazing
                  opportunity to revolutionize the way your work can be
                  noticed by a wider range of fans. Being apart of the ArtistXP family means being an advocate for artists promoting
                  artists.  We strive to all rise together (ART)!
                </p>
                <button>ArtistXP Music Network</button>
                <img src="../../assets/images/fbartistxplogo.png">
                <p>Our Master Ambassador, Alfa Blvck, hosts a live streamed music review weekly on our Facebook group, Artist XP Music Network. Independent artist can participate to be heard by more than just their local community and get the chance to be featured as the Artist of the Week! Follow our page for all of the updates</p>
              </div>
            </div>
            <div class="competitionrightdiv competitionrightdivtop fbcompetitionrightdivtop">
                <span class="signupfrwrapper">
                    <mat-list class="signupcontainer">
                        <mat-list-item class="signupflow signupflow1">
                            <mat-card-title class="fromtitle">
                                <span>CHOOSE ACCOUNT TYPE/SETTINGS</span>
                            </mat-card-title>
                            <form class="signupflowform" [formGroup]="firstForm" (ngSubmit)="firstsubmit()">
                                <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="First Name" formControlName="firstname" (blur)="f.inputBlur(firstForm,'firstname')">
                                    <mat-error *ngIf="firstForm.controls['firstname']?.touched && firstForm.controls['firstname'].errors && firstForm.controls['firstname'].errors.required" class="errormsgred">Firstname is required !</mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="Last Name" formControlName="lastname" (blur)="f.inputBlur(firstForm,'lastname')">
                                    <mat-error *ngIf="firstForm.controls['lastname']?.touched && firstForm.controls['lastname'].errors && firstForm.controls['lastname'].errors.required" class="errormsgred">Lastname is required !</mat-error>
                                </mat-form-field>
            
                                <!-- <mat-form-field class="example-full-width fromgroup">
                              <textarea matInput placeholder="Leave a comment"></textarea>
                            </mat-form-field> -->
            
                                <mat-form-field class="example-full-width fromgroup">
                                    <mat-select aria-placeholder="1234" formControlName="gender" (blur)="f.inputBlur(firstForm,'gender')">
                                        <mat-option value="male">Male</mat-option>
                                        <mat-option value="female">Female</mat-option>
                                    </mat-select>
                                    <mat-label>Gender</mat-label>
                                    <mat-error *ngIf="firstForm.controls['gender']?.touched && firstForm.controls['gender'].errors && firstForm.controls['gender'].errors.required" class="errormsgred">Gender is required !</mat-error>    
                                </mat-form-field>
            
            
                                <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="Email" value="" type="email" formControlName="email" (blur)="f.inputBlur(firstForm,'email')">
                                    <mat-error *ngIf="firstForm.controls['email']?.touched && firstForm.controls['email'].errors && firstForm.controls['email'].errors.required" class="errormsgred">email is required !</mat-error>
                                    <mat-error *ngIf="firstForm.controls['email']?.touched && firstForm.controls['email'].errors && firstForm.controls['email'].errors.pattern" class="errormsgred">Please Check yourEemail !</mat-error>
                                    <span class="errormsgred" *ngIf="err==1"> Email already exists!</span>
                                </mat-form-field>
            
                                <!-- <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="Username" value="" type="text">
                                </mat-form-field> -->
                                <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="Password" value="" type="password" formControlName="password" (blur)="f.inputBlur(firstForm,'password')">
                                    <mat-error *ngIf="firstForm.controls['password']?.touched && firstForm.controls['password'].errors && firstForm.controls['password'].errors.required" class="errormsgred">Password is required !</mat-error>
                                    <mat-error *ngIf="firstForm.controls['password']?.touched && firstForm.controls['password'].errors && firstForm.controls['password'].errors.minlength" class="errormsgred">Confirm Password is required !</mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="Confirm Password" value="" type="password" formControlName="confirmpassword" (blur)="f.inputBlur(firstForm,'confirmpassword')">
                                    <mat-error *ngIf="firstForm.controls['confirmpassword']?.touched && firstForm.controls['confirmpassword'].errors && firstForm.controls['confirmpassword'].errors.required" class="errormsgred">Confirm Password is required !</mat-error>
                                    <mat-error *ngIf="firstForm.controls['confirmpassword']?.touched && firstForm.controls['confirmpassword'].errors && firstForm.controls['confirmpassword'].errors.minlength" class="errormsgred">Confirm Password is required !</mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="Phone" value="" type="text" formControlName="phone" (blur)="f.inputBlur(firstForm,'phone')">
                                    <mat-error *ngIf="firstForm.controls['phone']?.touched && firstForm.controls['phone'].errors && firstForm.controls['phone'].errors.required" class="errormsgred">Phone is required !</mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="Stage name/Aliases" value="" type="text" formControlName="alias">
                                    </mat-form-field>
                                <!-- <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="Bio" value="" type="text">
                                </mat-form-field> -->
                                
                                <!-- <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="city" value="" type="text" formControlName="city" (blur)="f.inputBlur(firstForm,'city')">
                                    <mat-error *ngIf="firstForm.controls['city']?.touched && firstForm.controls['city'].errors && firstForm.controls['city'].errors.required" class="errormsgred">City is required !</mat-error>
                                </mat-form-field> -->
            
                                <mat-form-field class="example-full-width fromgroup">
                                        <input type="text" matInput placeholder="Country" formControlName="country" required [matAutocomplete]="autoGroup" (keyup)="setStatelist()"  (blur)="f.inputBlur(firstForm,'country')">
                                          <mat-autocomplete #autoGroup="matAutocomplete" >
                                              <mat-option (click)="setStatelist()" *ngFor="let country of filteredCountryOptions | async"  [value]="country.name">
                                                {{country.name}}
                                              </mat-option>
                                        </mat-autocomplete>
                                        
                                        <mat-error *ngIf="firstForm.controls['country']?.touched && firstForm.controls['country'].errors && firstForm.controls['country'].errors.required" class="errormsgred">Country is required !</mat-error>
                                      </mat-form-field>
                                      <span (click)="openQueryDialog()">Why is my country not listed<i class="material-icons">help_outline</i></span>
                                      <mat-form-field class="example-full-width fromgroup">
                                            <input type="text" matInput placeholder="State" formControlName="state" required [matAutocomplete]="autoGroup2" (keyup)="setCitylist()"  (blur)="f.inputBlur(firstForm,'state')">
                                              <mat-autocomplete #autoGroup2="matAutocomplete" >
                                                  <mat-option (click)="setCitylist()" *ngFor="let state of filteredStateOptions | async"  [value]="state.name">
                                                    {{state.name}}
                                                  </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="firstForm.controls['state']?.touched && firstForm.controls['state'].errors && firstForm.controls['state'].errors.required" class="errormsgred">State is required !</mat-error>
                                          </mat-form-field>
            
                                <span class="fromgroupcols">
                                    <span class="fromgroupcol2">
                                            <mat-form-field class="example-full-width fromgroup">
                                                    <input type="text" matInput placeholder="City" required formControlName="city" required [matAutocomplete]="autoGroup3"   (blur)="f.inputBlur(firstForm,'city')">
                                                      <mat-autocomplete #autoGroup3="matAutocomplete" >
                                                          <mat-option *ngFor="let city of filteredCityOptions | async"  [value]="city.name">
                                                            {{city.name}}
                                                          </mat-option>
                                                    </mat-autocomplete>
                                                    
                                                    <mat-error *ngIf="firstForm.controls['city']?.touched && firstForm.controls['city'].errors && firstForm.controls['city'].errors.required" class="errormsgred">City is required !</mat-error>
                                                  </mat-form-field>
                                    </span>
                                    <span class="fromgroupcol2">
                                        <mat-form-field class="example-full-width fromgroup">
                                            <input matInput placeholder="Zip" value="" type="text" formControlName="zip" (blur)="f.inputBlur(firstForm,'zip')">
                                            <mat-error *ngIf="firstForm.controls['zip']?.touched && firstForm.controls['zip'].errors && firstForm.controls['zip'].errors.required" class="errormsgred">Zip code is required !</mat-error>
                                        </mat-form-field>
                                    </span>
                                </span>
                                <mat-form-field class="example-full-width fromgroup">
                                        <input matInput placeholder="Hometown" value="" type="text" formControlName="hometown" (blur)="f.inputBlur(firstForm,'hometown')">
                                        <mat-error *ngIf="firstForm.controls['hometown']?.touched && firstForm.controls['hometown'].errors && firstForm.controls['hometown'].errors.required" class="errormsgred">Hometown is required !</mat-error>
                                    </mat-form-field>
                                <mat-card-subtitle>ACCOUNT TYPE</mat-card-subtitle>
                                <span class="fromgroupcols">
                                    <span class="fromgroupcol3">
                                        <section class="example-section">
                                            <mat-checkbox class="example-margin" (change)="statechangeforaccounttype()" formControlName="musicians">Recording Artist!</mat-checkbox>
                                            <mat-checkbox class="example-margin" (change)="statechangeforaccounttype()" formControlName="dancer">Dancer!</mat-checkbox>
                                            <!-- <mat-checkbox class="example-margin">Producer!</mat-checkbox> -->
                                        </section>
                                    </span>
                                    <span class="fromgroupcol3">
                                        <section class="example-section">
                                            
                                            <mat-checkbox class="example-margin" (change)="statechangeforaccounttype()" formControlName="signupaffiliate">Affiliates!</mat-checkbox>
                                            <mat-checkbox class="example-margin" (change)="statechangeforaccounttype()" formControlName="model">Models!</mat-checkbox>
                                        </section>
                                    </span>
                                    <span class="fromgroupcol3">
                                        <section class="example-section">
                                            
                                            <mat-checkbox class="example-margin" (change)="statechangeforaccounttype()" formControlName="fan">Fans!</mat-checkbox>
                                        </section>
                                    </span>
                                    
                                </span>
                               
            <ng-container *ngIf="firstForm.controls['musicians'].value!=null && firstForm.controls['musicians'].value == true">
                    <mat-card-subtitle>EXPERTISE</mat-card-subtitle>
                                <span class="fromgroupcols">
                                    <span class="fromgroupcol3">
                                        <section class="example-section">
                                            <mat-checkbox class="example-margin"  formControlName="vocalist" (blur)="f.inputBlur(firstForm,'vocalist')">Vocalist</mat-checkbox>
                                            <mat-checkbox class="example-margin" formControlName="instrumentalist" (blur)="f.inputBlur(firstForm,'instrumentalist')">Instrumentalist</mat-checkbox>
                                            <!-- <mat-checkbox class="example-margin">Producer!</mat-checkbox> -->
                                        </section>
                                    </span>
                                    <span class="fromgroupcol3">
                                        <section class="example-section">
                                            
                                            <mat-checkbox class="example-margin" formControlName="dj" (blur)="f.inputBlur(firstForm,'dj')">DJ</mat-checkbox>
                                            <mat-checkbox class="example-margin" formControlName="producer" (blur)="f.inputBlur(firstForm,'producer')">Producer</mat-checkbox>
                                        </section>
                                    </span>
                                    <span class="fromgroupcol3">
                                        <section class="example-section">
                                            
                                            <mat-checkbox class="example-margin" formControlName="sound_engineer" (blur)="f.inputBlur(firstForm,'sound_engineer')">Sound Engineer</mat-checkbox>
                                            <mat-checkbox class="example-margin" formControlName="song_writer" (blur)="f.inputBlur(firstForm,'song_writer')">Song Writer</mat-checkbox>
                                        </section>
                                    </span>
                                    <mat-error class="errormsgred" *ngIf="(firstForm.controls['vocalist'].touched && firstForm.controls['instrumentalist'].touched && firstForm.controls['dj'].touched && firstForm.controls['producer'].touched && firstForm.controls['sound_engineer'].touched && firstForm.controls['song_writer'].touched) && (firstForm.controls['vocalist'].value == false && firstForm.controls['instrumentalist'].value == false && firstForm.controls['dj'].value == false && firstForm.controls['producer'].value == false && firstForm.controls['sound_engineer'].value == false && firstForm.controls['song_writer'].value == false )">Select At Least One Expertise!</mat-error>
                                    
                                </span>
                            </ng-container>
                                <mat-card-subtitle>PRIVACY</mat-card-subtitle>
                                <span class="fromgroupcol1">
                                        <section class="example-section">
                                            <mat-checkbox class="example-margin"(change)="statechangeforprivacy()"  formControlName="publicval">Public (This will be visible to the ArtistXP
                                                community) </mat-checkbox>
                                            <mat-checkbox class="example-margin"(change)="statechangeforprivacy()" formControlName="privateval">Private (This will keep your stats only visible
                                                to you) </mat-checkbox>
                                        </section>
                                    </span>
                                <button mat-button class="btnbuyticket_genuserlan">
                                    <span class="buttoncon">next</span>
                                </button>
                            </form>
                        </mat-list-item>
                    </mat-list>
                </span>
      
            </div>
          </div>
          <div class="row no-gutter blastorpassmainpwrapper">
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 artistsexchangeleftdiv">
            <div class="sectionbody">
      
              <div class="fbartistxpmainwrapper">
                <div class="fbartistxpsubwrapper">
                  <!--<div class="fbartistxpcontainerwrapper">
                   
                    &lt;!&ndash; <fb-post class="myclass" href="https://www.facebook.com/ArtistXP/posts/810740519325018"></fb-post>
                    <fb-post class="myclass" href="https://www.facebook.com/dshawn.dmanreal/posts/339684110058607"></fb-post> 
                    <fb-post class="myclass" href="https://www.facebook.com/random40/videos/vb.375567122815479/619754861868071/?type=2&theater"></fb-post> 
                     &ndash;&gt;
                    <fb-post class="myclass" href="https://www.facebook.com/photo.php?fbid=10217871086787022&amp;set=gm.901507536850098&amp;type=3&amp;eid=ARDF6sIGav0ez4dduouzEGQ_i6Mzw8VW9lNxgmpu2hjGo2ut4UBoU97WgjmU1iYnXOWfZhANXVrmPekR&amp;ifg=1"></fb-post>
                  </div>
                  &lt;!&ndash; <div class="fbartistxpcontainerwrapper">
                    <fb-post class="myclass" href="https://www.facebook.com/yuppyaraw/videos/395710447928750/UzpfSTEwMDAwODk1MjMwMjI5NjpWSzo4Njc3MTE3ODAyMjk2NzQ/?multi_permalinks=867044253629760%2C867711780229674%2C867710866896432%2C867167200284132%2C867116086955910&notif_id=1556392655240603&notif_t=group_activity"></fb-post>
                  </div> &ndash;&gt;
                  <div class="fbartistxpcontainerwrapper">
                    <fb-post class="myclass" href="https://www.facebook.com/dshawn.dmanreal/videos/341643649862653/?t=11"></fb-post>
                  </div>
                  <div class="fbartistxpcontainerwrapper">
                    <fb-post class="myclass" href="https://www.facebook.com/photo.php?fbid=10217854014960237&set=gm.899895613677957&type=3&eid=ARB31ucBPkifLVRPCjVRJd8xOvJS1hy9QZXG3jW8df1sp8rpq1sgwIEiqlZ4l3HPuYoNLua63CGXdUiM&ifg=1"></fb-post>
                  </div>
                  <div class="fbartistxpcontainerwrapper">
                    <fb-post class="myclass" href="https://www.facebook.com/dshawn.dmanreal/videos/341230933237258/?t=0"></fb-post>
                  </div>-->
                  <div class="embed-container1">
                    <fb-page width="500" height="1500" href="https://www.facebook.com/ArtistXP" tabs="timeline,events,messages" frameborder='0' allowfullscreen></fb-page>
                  </div>
      
      
      
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 competitionrightdiv competitionrightdivtop ascompetitionrightdivtop">
            <div class="rightbannerdivwrapper">
              <div class="rightbannerdiv">
      
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper">
                    <img src="../../assets/images/artistrightbannerdiv_new1.jpg" alt="rightbannerdiv new1">
                  </div>
      
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper">
                    <img src="../../assets/images/artistrightbannerdiv_new2.jpg" alt="rightbannerdiv new2">
                  </div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper">
                    <img src="../../assets/images/artistrightbannerdiv_new3.jpg" alt="rightbannerdiv new3">
                  </div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper">
                    <img src="../../assets/images/artistrightbannerdiv_new4.jpg" alt="rightbannerdiv new4">
                  </div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper">
                    <img src="../../assets/images/artistrightbannerdiv_new5.jpg" alt="rightbannerdiv new5">
                  </div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper">
                    <img src="../../assets/images/artistrightbannerdiv_new6.jpg" alt="rightbannerdiv new6">
                  </div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper">
                    <img src="../../assets/images/artistrightbannerdiv_new7.jpg" alt="rightbannerdiv new7">
                  </div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper">
                    <img src="../../assets/images/artistrightbannerdiv_new8.jpg" alt="rightbannerdiv new8">
                  </div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper">
                    <img src="../../assets/images/artistrightbannerdiv_new9.jpg" alt="rightbannerdiv new9">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="row no-gutter asfbblock3">
            <div class="fbartistxptextwrapper">
              <h3>Join the team today</h3>
              <p>Becoming a part of ArtistXP as an affiliate, will not only show support for your
                members as an artist, but you have the opportunity to receive commissions in
                perpetuity!  That’s right, we will give you commissions from all sales made by any user signed under you in the ArtistXP dashboard.</p>
      
      
                <p>Anyone that signs up under you as an artist or a fan of an artist that
                purchases anything from ArtistXP and AudioDeadline, whether that be a ticket for the show or some sick merch, you get a commission.  Know someone with some powerful persuasion skills?  Have them join as an affiliate and earn a commission from their
                follower's purchases.  Show your support for independent artists, join the biggest
                movement in entertainment, and get paid!
              </p>
              <button class="blackbutton" (click)="scrollToTop()">Sign-Up Now!</button>
            </div>
          </div>
      </div>
      </div>
      </div>
      
      <app-footer></app-footer>
      
      
      <!-- <ng-template #template>
        <div class="modal-body text-center signupeamilbody">
      
          <button type="button" class="close" (click)="closep()">&times;</button>
          <img src="../../assets/images/logo.png" alt="logo">
          <p><span>Sign up begin Aug 27th After our company opening webinar. <a href="https://registerforwebinar.audiodeadline.com" target="_blank">Sign up for the webinar</a></span></p>
      
        </div>
      </ng-template> -->
      
      <!-- <div *ngIf="termsandconditionsmodal" class="modal fade modalVideoUpload" (onHidden)="onHidden()" data-backdrop="static" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            
            <div class="modal-body">
              <div class="deletemodal" style="border: none">
      
                <button type="button" class="close pull-right" aria-label="Close" (click)="termsandconditionsmodal=false">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-termsandconditions></app-termsandconditions>
            </div>
          </div>
        </div>
      
      </div> -->
      
      <!-- <div *ngIf="agreecookiemodal" class="modal fade modalVideoUpload agreecookiemodal" (onHidden)="onHidden()" data-backdrop="static" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            
            <div class="modal-body">
                <div class="deletemodal" style="border: none">
      
                    <button type="button" class="close pull-right" aria-label="Close" (click)="agreecookiemodal=false">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              <p>By using Artist's properties, you agree to our use of cookies, including for analytics and targeted advertising, as described in our <a [routerLink]="['/cookiepolicy']" target="_blank" class="linktxt">Cookie Policy</a>.</p>
              <a (click)="agreetotermsFunc(template)" class="btnpink">Agree</a>
      
            </div>
          </div>
        </div>
      
      </div> -->