<p>forgot-password works!</p>
<form [formGroup]="forgorpassword"  (ngSubmit)="forgotpasswordFormSubmit()">
   
    <mat-form-field>
      <input matInput type="text" placeholder="Email" formControlName="email" (blur)="inputUntouched('email')">
      <mat-error
        *ngIf="!forgorpassword.controls['email'].valid && forgorpassword.controls['email'].errors.required && forgorpassword.controls['email'].touched">
        Email field can not be blank</mat-error>
      <mat-error *ngIf="!forgorpassword.controls['email'].valid && !forgorpassword.controls['email'].errors.required">Email is
        not valid</mat-error>
    </mat-form-field>

      <span class="bottompart">           
          <button mat-raised-button class="btn-lg">Submit</button>
      </span>
</form>