<mat-card class="footermainwrapper">
    <mat-card-content class="footertop">
        <span class="logoimgwrapper">
            <img src="../../../assets/images/artistheaderlogo.png">
        </span>
        <mat-list>
            <mat-list-item> <a  routerLink="/competition">Competition page </a></mat-list-item>
            <mat-list-item> <a href="https://audiodeadline.com">Audiodeadline </a>  </mat-list-item>
            <!-- <mat-list-item> <a routerLink="/"> Sign-In </a> </mat-list-item> -->
            <mat-list-item> <a routerLink="/helpcenter"> Help Center </a> </mat-list-item>
            <mat-list-item> <a routerLink="/contactus">Contact us </a> </mat-list-item>
            <mat-list-item> <a routerLink="/privacypolicy">Privacy Statement </a>  </mat-list-item>
            <mat-list-item> <a routerLink="/termsandconditions">Terms of Use </a>  </mat-list-item>
            <mat-list-item> <a routerLink="/competitionrules">Competition Rules </a> </mat-list-item>
            <mat-list-item> <a routerLink="/refundpolicy">Refund Policy </a>  </mat-list-item>
        </mat-list>
        <h2 class="footersolist">           
          <span>Socialize With Us</span>
          <span class="footersoicons">
              <a><i class="fa facebook"></i></a>
              <a><i class="fa twitter"></i></a>
              <a><i class="fa instagram"></i></a>
          </span>        
        </h2>
    </mat-card-content>
    <mat-card-content class="footerbottom">
        <p>copyright © ARTIST EXCHANGE 2018 - all rights reserved</p>
    </mat-card-content>
    <button mat-icon-button class="backtotopbtn" *ngIf="isShow" (click)="gotoTop()">
        <mat-icon (click)="gotoTop()">keyboard_arrow_up</mat-icon>
        </button>
</mat-card>