<mat-card class="invitationforlaunchplanmainwrapper">
    <mat-card-content class="signupbody">
        <span class="signupfrwrapper">
            <span class="invitationlogowrapper">
                <img src="../../../assets/images/artistheaderlogo.png">
            </span>
            <mat-list class="signupcontainer">
                <mat-list-item class="signupflow signupflow1">
                    <mat-card-title class="fromtitle">
                        <span>DUE TO MASSIVE AMOUNTS OF SUPPORT AND INVOLVEMENT OF PRE-REGISTERED USERS, WE HAVE
                            ACTIVATED OUR "BY INVITATION ONLY" MODE!</span>
                    </mat-card-title>
                    <form class="signupflowform">
                        <span class="inputandinputtitle">
                            <span class="inputtitle">PLEASE ENTER YOUR ACCESS CODE</span>
                            <mat-form-field class="example-full-width fromgroup inputgroup">
                                <input matInput type="Add Image:" placeholder="put your code here">
                                <button mat-button matSuffix mat-stroked-button>Submit
                                </button>

                            </mat-form-field>
                            <span class="invitationtextwrapper">
                                <p>Don’t have an access code? <strong>IF YOU ARE INTERESTED IN GETTING INVOLVED RIGHT
                                        AWAY MESSAGE US!</strong></p>
                                <p>We will let you know when Invitation mode is complete!</p>
                                <p>As always, THANK YOU FOR YOUR SUPPORT and YOUR PATIENCE!<br>All Rise Together (ART!)
                                </p>
                                <p>Contact us at <a
                                        href="mailto:support@aristxp.com"><strong>support@artistxp.com</strong></a></p>

                            </span>
                        </span>
                    </form>
                </mat-list-item>
            </mat-list>
            <mat-card-actions class="invitationbuttonwrapper">
                <button mat-button class="btnpink">Log out</button>
                <button mat-button class="btnpink">Go Back to Home</button>
            </mat-card-actions>
        </span>
    </mat-card-content>

</mat-card>
<app-footer></app-footer>