<!-- <div class="signupforblockchainblocktop">
  <p>Lorem Ipsum is simply dummy text of</p>
</div> -->
<!-- <mat-icon fontSet="fas" fontIcon="fa-battery-empty"></mat-icon> -->
<div class="signupforblockchainblocknav">
    <div class="signupforblockchainblocknavwrapper signupforblockchainblocknavwrappernew1 signupforblockchainblocknavnew1">
      <!-- <app-newsignupheader *ngIf="_id!='' && _id!=null"></app-newsignupheader>
      <app-newsignupheadersignup *ngIf="_id=='' || _id==null"></app-newsignupheadersignup> -->
      <app-signupheader></app-signupheader>
    </div>
  </div>
  
  <div class="container-fluid communitysignupnewblock1 signupforblockchainblock1">
    <div class="row">
      <div class="container newwrapper">
        <h1 class="titletxt1">Protect your creative<br> work with Blockchain! </h1>
        <div class="communitysignupnewblock1inner">
  
          <div class="communitysignupnewblock1left">
            <div class="bannerleftnew">
              <h2 class="titletxt2">Certify ownership of finished<br> products AND works in progress!<!--Record ownership of not<br> only finished product but also<br> works in progress!--> </h2>
              <h1 class="titletxt3">Exclusive on <span><img src="../../assets/images/artistheaderlogo.png"></span></h1>
              <div class="manimgwrapper">
              <img src="../../assets/images/signupblockchainleftimgman.png" class="imgmanleft">
  
  
              <ul class="vbllist1">
                <img src="../../assets/images/signupblockchainlogoicon.png" class="iconblockchain">
                <li><span>Inexpensive-</span>A fraction of the cost of registering<br> through government agencies</li>
                <li><span>Fast-</span>Certify your work in a matter of minutes, not<br> weeks or months</li>
                <li><span>Convenient-</span>No need to fill out extensive forms,<br> do it all right through ArtistXP!</li>
              </ul>
              <img src="../../assets/images/signupblockchainleftmanhand.png" class="manhand">
              </div>
              <div class="vblb6img5">
                <h2>Block chain your Media now!</h2>
              </div> 
  
            </div>
  
          </div>
          <div class="communitysignupnewblock1right">
            <h2 class="formtoptxt">Only $19.95<br> for 10 Certifications!<!--For 10 Medias!--> </h2>
            <form class="formdiv" name="dancingform" novalidate [formGroup]="blockchainForm" (ngSubmit)="blockchainFormSubmit()">
              <div class="cslandingformwrapper" #destinationRef>
                <mat-card-title class="cslandingformheader">
                  <h1>protect your <span>creative work!</span></h1>
                </mat-card-title>
                <div class="cslandingforminnerwrapper">
                 
                  <!-- <mat-form-field class="example-full-width fromgroup hide"> -->
                    <!-- <input name="_id" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text"  [(ngModel)]="_id" placeholder="_id"> -->
                <!-- </mat-form-field> -->
                  <mat-form-field class="example-full-width fromgroup">
                    <span class="has-error" *ngIf ="existmsg!='' "> {{existmsg}}</span>
                    <input matInput  placeholder="first name" name="first-name" value="" size="40" type="text" (blur)="inputBlur('firstname')" [formControl]="blockchainForm.controls['firstname']">
                    <span class="has-error" *ngIf ="blockchainForm.controls['firstname'].touched && !blockchainForm.controls['firstname'].valid"> First Name field can not be blank</span>
                  </mat-form-field>

                  <mat-form-field class="example-full-width fromgroup">
                    <input matInput  name="last-name" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" (blur)="inputBlur('lastname')" [formControl]="blockchainForm.controls['lastname']" placeholder="last name">
                    <span class="has-error" *ngIf ="blockchainForm.controls['lastname'].touched && !blockchainForm.controls['lastname'].valid"> Last Name field can not be blank</span>
                  </mat-form-field>
  
                  <mat-form-field class="example-full-width fromgroup">
                    <input matInput  name="your-email" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" (blur)="inputBlur('email')" [formControl]="blockchainForm.controls['email']" placeholder="email">
                    <span class="has-error" *ngIf ="blockchainForm.controls['email'].touched && !blockchainForm.controls['email'].valid"> Email field can not be blank</span>
                </mat-form-field>
  
                  <mat-form-field class="example-full-width fromgroup">
                    <input name="your-phone" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" [formControl]="blockchainForm.controls['phone']" (blur)="inputBlur('phone')"  placeholder="phone">
                    <span class="has-error" *ngIf ="blockchainForm.controls['phone'].touched && !blockchainForm.controls['phone'].valid"> Phone field can not be blank</span>
                </mat-form-field>
  
                  <mat-form-field class="example-full-width fromgroup">
                    <input name="address" class="form-control" type="text" [formControl]="blockchainForm.controls['address']" (blur)="inputBlur('address')" placeholder="Your Address">
                    <span class="has-error" *ngIf ="blockchainForm.controls['address'].touched && !blockchainForm.controls['address'].valid"> Address field can not be blank</span>
                </mat-form-field>
  
                  <mat-form-field class="example-full-width fromgroup">
                    <!--<label><span>Hometown:</span> </label>-->
                    <input name="city" class="form-control" type="text" [formControl]="blockchainForm.controls['city']" (blur)="inputBlur('city')"  placeholder="city">
                    <span class="has-error" *ngIf ="blockchainForm.controls['city'].touched && !blockchainForm.controls['city'].valid"> Hometown field can not be blank</span>
                </mat-form-field>
  
  
                  <mat-form-field class="example-full-width fromgroup hide">
                    <!--<input name="country" class="form-control" type="text" [formControl]="blockchainForm.controls['country']" (blur)="_commonservices.inputBlur(blockchainForm,'country')"  placeholder="country">-->
                    <!--<select name="country" class="form-control classic" [formControl]="blockchainForm.controls['country']" (blur)="_commonservices.inputBlur(blockchainForm,'country')">
                      <option value="">Select country</option>
                      <option value="USA">USA</option>
                      <option value="UK">UK</option>
                      <option value="Australia">Australia</option>
                      <option value="Korea">Korea</option>
                      &lt;!&ndash;<option *ngFor="let item of country" value="{{item.abbreviation}}">{{item.name}}</option>&ndash;&gt;
                    </select>-->
                    <input name="country" class="form-control" type="text" [formControl]="blockchainForm.controls['country']" (blur)="inputBlur('country')"  placeholder="country">
                    <span class="has-error" *ngIf ="blockchainForm.controls['country'].touched && !blockchainForm.controls['country'].valid"> Country field can not be blank</span>
                </mat-form-field>
  
  
                  <mat-form-field class="example-full-width fromgroup">
                    <!--<label><span>State/Province:</span></label>-->
                    <mat-select name="state" class="form-control classic" [formControl]="blockchainForm.controls['state']" (blur)="inputBlur('state')">
                      <mat-option value="">Select State</mat-option>
                      <mat-option *ngFor="let item of state" value="{{item.abbreviation}}">{{item.name}}</mat-option>
                    </mat-select>
                    <span class="has-error" *ngIf ="blockchainForm.controls['state'].touched && !blockchainForm.controls['state'].valid"> State/Province field can not be blank</span>
                </mat-form-field>
  
  
  
  
  
                  <mat-form-field class="example-full-width fromgroup">
                    <!--<label><span>ZipCode:</span> </label>-->
                    <input name="zip" class="form-control" type="text" [formControl]="blockchainForm.controls['zip']" (blur)="inputBlur('zip')" placeholder="zip">
                    <span class="has-error" *ngIf ="blockchainForm.controls['zip'].touched && !blockchainForm.controls['zip'].valid"> ZipCode field can not be blank</span>
                </mat-form-field>
  
  
  
  
                </div>
                <div class="btnnewwrapper">
                  <button  class="btnbuyticket_genuserlan"> <span class="buttoncon">submit</span></button>
                </div>
              </div>
              <div class="landingformfooter_genuserlan"></div>
            </form>
            <!--<form class="formdiv" name="dancingform" novalidate [formGroup]="blockchainForm" (ngSubmit)="dosubmit(blockchainForm.value)">
              <div class="cslandingformwrapper" #destinationRef>
                <div class="cslandingformheader">
                  <h1>protect your <span>creative work!</span></h1>
                </div>
                <div class="cslandingforminnerwrapper">
  
                  <mat-form-field class="example-full-width fromgroup hide">
                    <input name="_id" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" (blur)="_commonservices.inputBlur(blockchainForm,'_id')" [formControl]="blockchainForm.controls['_id']" placeholder="_id">
                    <span class="has-error" *ngIf ="blockchainForm.controls['_id'].touched && !blockchainForm.controls['_id'].valid"> First Name field can not be blank</span>
                  </div>
                  <mat-form-field class="example-full-width fromgroup">
                    <input name="first-name" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" (blur)="_commonservices.inputBlur(blockchainForm,'firstname')" [formControl]="blockchainForm.controls['firstname']" placeholder="first name">
                    <span class="has-error" *ngIf ="blockchainForm.controls['firstname'].touched && !blockchainForm.controls['firstname'].valid"> First Name field can not be blank</span>
                 </mat-form-field>
                  <mat-form-field class="example-full-width fromgroup">
                    <input name="last-name" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" (blur)="_commonservices.inputBlur(blockchainForm,'lastname')" [formControl]="blockchainForm.controls['lastname']" placeholder="last name">
                    <span class="has-error" *ngIf ="blockchainForm.controls['lastname'].touched && !blockchainForm.controls['lastname'].valid"> Last Name field can not be blank</span>
                 </mat-form-field>
                  <mat-form-field class="example-full-width fromgroup">
                    <input name="your-email" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" (blur)="_commonservices.inputBlur(blockchainForm,'email')" [formControl]="blockchainForm.controls['email']" placeholder="email">
                    <span class="has-error" *ngIf ="blockchainForm.controls['email'].touched && !blockchainForm.controls['email'].valid"> Email field can not be blank</span>
                  </mat-form-field>
  
                  <mat-form-field class="example-full-width fromgroup">
                    <input name="your-phone" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" [formControl]="blockchainForm.controls['phone']" (blur)="_commonservices.inputUntouch(blockchainForm,'phone')"  placeholder="phone">
                    <span class="has-error" *ngIf ="blockchainForm.controls['phone'].touched && !blockchainForm.controls['phone'].valid"> Phone field can not be blank</span>
                  </mat-form-field>
  
                  <mat-form-field class="example-full-width fromgroup">
                    <input name="address" class="form-control" type="text" [formControl]="blockchainForm.controls['address']" (blur)="_commonservices.inputUntouch(blockchainForm,'address')" placeholder="Your Address">
                    <span class="has-error" *ngIf ="blockchainForm.controls['address'].touched && !blockchainForm.controls['address'].valid"> Address field can not be blank</span>
                  </mat-form-field>
  
                  <mat-form-field class="example-full-width fromgroup">
                    &lt;!&ndash;<label><span>Hometown:</span> </label>&ndash;&gt;
                    <input name="city" class="form-control" type="text" [formControl]="blockchainForm.controls['city']" (blur)="_commonservices.inputUntouch(blockchainForm,'city')"  placeholder="city">
                    <span class="has-error" *ngIf ="blockchainForm.controls['city'].touched && !blockchainForm.controls['city'].valid"> Hometown field can not be blank</span>
                  </mat-form-field>
  
  
                  &lt;!&ndash;<mat-form-field class="example-full-width fromgroup">
                    &lt;!&ndash;<input name="country" class="form-control" type="text" [formControl]="blockchainForm.controls['country']" (blur)="_commonservices.inputUntouch(blockchainForm,'country')"  placeholder="country">&ndash;&gt;
                    <select name="country" class="form-control classic" [formControl]="blockchainForm.controls['country']" (blur)="_commonservices.inputUntouch(blockchainForm,'country')">
                      <option value="">Select country</option>
                      <option value="USA">USA</option>
                      <option value="UK">UK</option>
                      <option value="Australia">Australia</option>
                      <option value="Korea">Korea</option>
                      &lt;!&ndash;<option *ngFor="let item of country" value="{{item.abbreviation}}">{{item.name}}</option>&ndash;&gt;
                    </select>
                    <span class="has-error" *ngIf ="blockchainForm.controls['country'].touched && !blockchainForm.controls['country'].valid"> Country field can not be blank</span>
                  </mat-form-field>&ndash;&gt;
  
  
                  <mat-form-field class="example-full-width fromgroup">
                    &lt;!&ndash;<label><span>State/Province:</span></label>&ndash;&gt;
                    <select name="state" class="form-control classic" [formControl]="blockchainForm.controls['state']" (blur)="_commonservices.inputUntouch(blockchainForm,'state')">
                      <option value="">Select State</option>
                      <option *ngFor="let item of state" value="{{item.abbreviation}}">{{item.name}}</option>
                    </select>
                    <span class="has-error" *ngIf ="blockchainForm.controls['state'].touched && !blockchainForm.controls['state'].valid"> State/Province field can not be blank</span>
                  </mat-form-field>
  
  
  
  
  
                  <mat-form-field class="example-full-width fromgroup">
                    &lt;!&ndash;<label><span>ZipCode:</span> </label>&ndash;&gt;
                    <input name="zip" class="form-control" type="text" [formControl]="blockchainForm.controls['zip']" (blur)="_commonservices.inputUntouch(blockchainForm,'zip')" placeholder="zip">
                    <span class="has-error" *ngIf ="blockchainForm.controls['zip'].touched && !blockchainForm.controls['zip'].valid"> ZipCode field can not be blank</span>
                  </mat-form-field>
  
  
  
  
                </div>
                <div class="btnnewwrapper">
                  <input class="btnbuyticket_genuserlan" value="Submit" type="submit">
                </div>
              </div>
              <div class="landingformfooter_genuserlan"></div>
            </form>-->
          </div>
        </div>
      </div>
    </div>
  
    <div class="toprightgradientbg">
      <img src="../../assets/images/signupblockchainrightyellowbg.png">
    </div>
  
  </div>
  
  <div class="container-fluid signupforblockchainblock2">
    <div class="row signupforblockchainblock2top">
      <div class="container newwrapper">
        <div class="newwrapperinner">
          <h1>Exclusive on ArtistXP! <br>Blockchain your Media</h1>
          <div class="signupforblockchainblock2content">
            <div class="signupforblockchainblock2left">
              <p>As an artist, you know how challenging it is to protect your creative work.
                How do you claim and certify ownership of finished products AND works in progress!<!--record ownership of not only a finished product, but works in progress?--><br><br><br>
                Blockchain technology now offers a simple, secure way to create a
                blockchain-based trail of records proving the existence and integrity of your creative piece of work.<br><br>
                Our easy-to-use certification process helps you generate evidence of your creative process, giving you strong authorship proof.
              </p>
              <a class="btnyellownew" (click)="scrollToTop()">buy now</a>
            </div>
            <div class="signupforblockchainblock2right">
              <div class="signupforblockchainimgright">
                <img src="../../assets/images/signupforblockchainimgright.png" class="signupforblockchainimgrightcls">
              </div>
              <img class="iconblockchain" src="../../assets/images/signupblockchainlogoiconmd.png">
            </div>
          </div>
        </div>
      </div>
      <div class="signupforblockchainblock2leftbg"></div>
    </div>
    <div class="row signupforblockchainblock2bottom">
      <div class="container newwrapper">
        <div class="newwrapperinner">
          <div class="signupforblockchainblock2bottomcontent">
            <h2>Convenient</h2>
            <p>No need to fill out extensive forms, do it all right through ArtistXP</p>
            <h2>Inexpensive</h2>
            <p>A fraction of the cost of registering through government agencies</p>
            <h2>Fast</h2>
            <p>Certify your work in a matter of minutes, not weeks or months</p>
            <h2>Decentralized & tamper-proof timestamp</h2>
            <p>Think of it like a digital notary (that’s more credible than a traditional one)</p>
            <h2>Links versions of the same asset</h2>
            <p>Creates a trail of evidence that you are the creator</p>
            <h2>Anonymous</h2>
            <p>All personal information kept private behind cryptography</p>
            <h2>Public availability</h2>
            <p>Transparency through the block explorer keeps all transactions public </p>
            <h2>Downloadable certificate</h2>
            <p>Documents your certification and includes information so you can access it from the blockchain at any time</p>
            <img class="iconblockchain" src="../../assets/images/signupblockchainlogoicondouble.png">
            <a class="btnyellownew"  (click)="scrollToTop()">buy now</a>
  
          </div>
        </div>
      </div>
      <div class="signupforblockchainblock2rightbg">
  
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid signupforblockchainblock3">
    <div class="row">
      <div class="container newwrapperinner">
        <h1>What Blockchain Is and How it Works</h1>
        <p>You’ve probably heard of bitcoin, but have you heard of blockchain? It’s the technology behind cryptocurrency -- and it’s changing the way information is stored and exchanged. Blockchain is a digital ledger that can record and track anything of value, like financial transactions, goods, property, medical records, or certification of a creative asset.<br><br>
          Rather than storing information in a central database, like we’re used to, blockchains store information across a network of computers. Information is collected in groups called blocks, which are then linked together to form a chain.
        </p>
        <ul class="signupforblockchainblock3lists">
          <li><div class="image"><span>Increased Efficiency</span> Blockchain is built on a peer-to-peer system, which eliminates the need for lawyers, banks, and other third parties. By streamlining and automating, transactions can be completed faster and more efficiently--which often means reduced cost.</div><div style="clear:both"></div></li>
          <li><div class="image"><span>Safety through Decentralization</span> Since blockchain stores data on a widespread network of computers, data is safer from fraud and unauthorized activity.</div><div style="clear:both"></div></li>
          <li><div class="image"><span>Enhanced Security</span> Each block of information in blockchain contains data about the blocks surrounding it, so no one can alter or remove a block without affecting the rest of the chain. This keeps data safe and secure. </div><div style="clear:both"></div></li>
          <li><div class="image"><span>Greater Transparency</span> Data on a blockchain is more accurate, consistent, and available to all participants<br> who have permissioned access. Privacy is ensured through the use of<br> private keys and cryptography, while still maintaining transparency of the data. </div><div style="clear:both"></div></li>
          <li><div class="image"><span>Reliability with a Trustless System</span> The combination of cryptography, verification by many computers, and the<br> requirement for the whole network to agree ensures that we can trust every<br> block on the chain. This creates what is called a “trustless” environment,<br> which eliminates the need for intermediaries like banks or lawyers. </div><div style="clear:both"></div></li>
  
          <span class="signupforblockchainblock3listsbottombg">
            <img class="iconblockchain" src="../../assets/images/signupblockchainlogoiconmd.png">
          </span>
  
        </ul>
        <a class="btnyellownew" (click)="scrollToTop()">buy now</a>
        <div class="signupforblockchainblock3rightbottom">
          <img src="../../assets/images/signupforblockchainblock3bottomrightimg.png" class="signupforblockchainblock3bottomrightimg">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid signupforblockchainblock4">
    <div class="signupforblockchainblock4toprightyellowbg"></div>
    <div class="row">
      <div class="container newwrapperinner">
        <h1>The Process</h1>
        <p>The first step to protecting your work with blockchain certification is verifying your identity through our third-party provider, IdentityMind. This happens with the KYC (Know Your Customer) process and costs $5. This will be automatically added to your first package purchase and is non-refundable.<!--The first step to protecting your work with blockchain certification is verifying your identity through our third-party provider, IdentityMind. This happens with the KYC (Know Your Customer) process, and costs $5. This will be automatically added to your first package purchase and is non-refundable.--></p>
      </div>
      <div class="row videoblockcontent">
        <div class="col-md-6">
          <div class="videoWrapper">
            <img src="../../assets/images/videoWrapperimgdefault.jpg">
            <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="videoblockcontentright">
            <h2>STEP 1</h2>
            <p>Fill out and submit the KYC form. <a href="{{ clickHereUrl }}" target="_blank">Click Here</a><!--Fill out and submit the KYC form--></p>
            <h2>STEP 2</h2>
            <p>We will let you know whether your KYC status is Approved, under Manual Review, or Denied.<!--We will let you know whether your KYC status is Approved, Manual Review, or Denied. This can take a few minutes to several hours.--></p>
            <h2>STEP 3</h2>
            <p>After completing the KYC process, upload your music/photo/document to ArtistXP. Select to certify your asset and fill out the required information. Once your certificate is processed, you can download and save it.<!--After you have completed the KYC process you will be able to move on to upload your music/photo/document to ArtistXP. Once you have uploaded your media select to certify your asset by filling out the required information. We will process your certificate and once it is complete you will be able to download and save it.--></p>
            <a class="btnyellownew"  (click)="scrollToTop()">buy now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="signupforblockchainblock4bottomleftyellowbg">
      <img class="iconblockchain" src="../../assets/images/signupblockchainlogoiconmddouble.png">
    </div>
  </div>
  
  
  <!--<img style="width: 100%; height: 100%;" src="../../assets/images/signupblockchainblock2.jpg">-->
  <!--img style="width: 100%; height: 100%;" src="../../assets/images/signupblockchainblock3.jpg">-->
  <!--<img style="width: 100%; height: 100%;" src="../../assets/images/signupblockchainblock4.jpg">-->
  <!--<img style="width: 100%; height: 100%;" src="../../assets/images/signupblockchainblock5.jpg">-->
  <!--<img style="width: 100%; height: 100%;" src="../../assets/images/signupblockchainblock6.jpg">-->
  
  <app-footer></app-footer>
  <!--
  <div *ngIf="exitmodal==true" class="modal fade modalVideoUpload" bsModal #staticModal="bs-modal" [config]="{ show: true,backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header deletemodal" style="border:none">
          &lt;!&ndash;<button type="button" class="close pull-right" aria-label="Close" (click)="exitmodal=false"><span aria-hidden="true">&times;</span>
          </button>&ndash;&gt;
        </div>
        <div class="modal-body">
          <img class="demoModalImg" src="../../assets/images/artistheaderlogo.png">
          <h4 class="modal-title demoModalHeader1">You've already signed up on {{created_date}}!</h4>
          <div class="av_button">
            <button type="button" class="" [routerLink]="['/profile']" type="button">Okay</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>-->
<!--   
  <div *ngIf="errormodal" class="modal fade modalVideoUpload" (onHidden)="onHidden()" data-backdrop="static" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="z-index: 99999">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="deletemodal">
  
          <button type="button" class="close pull-right" aria-label="Close" (click)="errormodal=false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="demoModalImg" src="../../assets/images/artistheaderlogo.png">
          <h4 class="modal-title demoModalHeader1">You are not logged in! To Blockchain your media login now.</h4>
          <div class="av_button">
            <a class="btnpink" [routerLink]="['/']" target="_blank" type="button">Login Now!</a>
          </div>
          <div>
          <strong>Not a user yet?</strong>
          <a class="txtyellow" [routerLink]="['/signupflow2']">Sign Up Here!</a>
          </div>
        </div>
      </div>
    </div>
  
  </div> -->