<span class="contactusheader">
 <app-signupheader></app-signupheader>
</span>
<div class="axpcontactusblock1 tendingheaderborder">
        <div class="row no-gutter">
          <div class="axpcontactusleftdiv">
            <div class="bg">
              <img src="assets/images/axpcontactusleftdivbg01.jpg" alt="">
            </div>
            <div class="axplandingformwrapper_signup">
              <div class="axplandingforminnerwrapper_signup">
                <h1>contact us</h1>
                <div role="form" id="form" lang="en-US" dir="ltr">
                  <div class="screen-reader-response"></div>
      
                  <form class="form" role="form" name="dataForm">
                    <!--<form novalidate [formGroup]="loginform" name="loginform" (ngSubmit)="dosubmit(loginform.value)" class="loginformnew">-->
                    <!--<div *ngIf="is_error" class="singleerror">{{is_error}}</div>-->
                    <div class="form-group">
                      <p><label> <span class="your-first-name"><input type="text" name="your-first-name" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" placeholder="First Name" ></span> </label></p> <span class="has-error">First Name field can not be blank</span>
                    </div>
      
                    <div class="form-group">
                      <p><label> <span class="your-last-name"><input type="text" name="your-last-name" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" placeholder="Last Name"></span> </label></p><span class="has-error">Last Name field can not be blank</span>
                    </div>
                    <div class="form-group">
                      <p><label> <span class="your-active-phone"><input type="tel" name="your-active-phone" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" placeholder="Telephone"></span> </label></p><span class="has-error">Phone field can not be blank</span>
                    </div>
                    <div class="form-group">
      
                      <p><label> <span class="your-active-email"><input type="text" name="your-active-email" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" placeholder="Email"></span> </label></p><span class="has-error">Email field can not be blank ! </span>
                    </div>
                    <div class="form-group">
                      <p><label> <span class="your-address"><input type="text" name="your-address" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" placeholder="Address" ></span> </label></p><span class="has-error">Address field can not be blank</span>
                    </div>
                    <div class="form-group">
                      <p><label><span class="your-message"><textarea _ngcontent-c4="" aria-invalid="false" aria-required="true" class="textarea" cols="40" name="your-message" placeholder="Message Here" rows="10"></textarea>
                        </span></label></p><span class="has-error">Message field can not be blank</span>
                    </div>
                    <p><button type="submit" class="btnformsubmitnew"><span>Submit</span></button></p>
                    <div class="response-output display-none"></div>
                  </form>
                </div>
              </div>
              <img src="assets/images/artistxp-contactus-form-bg.png"  class="artistxpcontactusformbg" alt="">
            </div>
          </div>
          <!-- <div class="competitionrightdiv">
            Right Side Banner Start Block
            <div class="rightbannerdivwrapper">
              <div class="rightbannerdiv">
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper"><img src="assets/images/artistrightbannerdiv_new1.jpg" alt="rightbannerdiv screen1"></div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper"><img src="assets/images/artistrightbannerdiv_new2.jpg" alt="rightbannerdiv screen2"></div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper"><img src="assets/images/artistrightbannerdiv_new3.jpg" alt="rightbannerdiv screen3"></div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper"><img src="assets/images/artistrightbannerdiv_new4.jpg" alt="rightbannerdiv screen4"></div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper"><img src="assets/images/artistrightbannerdiv_new5.jpg" alt="rightbannerdiv screen5"></div>
                </div>
                <div class="rightbannerdivimg">
                  <div class="rightbannerdivimgwrapper"><img src="assets/images/artistrightbannerdiv_new6.jpg" alt="rightbannerdiv screen6"></div>
                </div>    
               
              </div>
            </div>
            Right Side Banner End Block
          </div> -->
        </div>
      </div>
      <app-footer></app-footer>