<mat-card>
  <mat-card-content class="signupbody">
<app-signupheader></app-signupheader>

  <mat-horizontal-stepper class="signupflowstepper"  #stepper>
    <mat-step [stepControl]="firstForm" editable="false"> 
        <ng-template matStepLabel>Step 1</ng-template>
      <span class="signupfrwrapper">
        <mat-list class="signupcontainer">
            <mat-list-item class="signupflow signupflow1">
                <mat-card-title class="fromtitle">
                    <span>CHOOSE ACCOUNT TYPE/SETTINGS</span>
                </mat-card-title>
                <form class="signupflowform" [formGroup]="firstForm" (ngSubmit)="firstsubmit()">
                    <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="First Name" formControlName="firstname" (blur)="f.inputBlur(firstForm,'firstname')">
                        <mat-error *ngIf="firstForm.controls['firstname']?.touched && firstForm.controls['firstname'].errors && firstForm.controls['firstname'].errors.required" class="errormsgred">Firstname is required !</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Last Name" formControlName="lastname" (blur)="f.inputBlur(firstForm,'lastname')">
                        <mat-error *ngIf="firstForm.controls['lastname']?.touched && firstForm.controls['lastname'].errors && firstForm.controls['lastname'].errors.required" class="errormsgred">Lastname is required !</mat-error>
                    </mat-form-field>

                    <!-- <mat-form-field class="example-full-width fromgroup">
                  <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field> -->

                    <mat-form-field class="example-full-width fromgroup">
                        <mat-select aria-placeholder="1234" formControlName="gender" (blur)="f.inputBlur(firstForm,'gender')">
                            <mat-option value="male">Male</mat-option>
                            <mat-option value="female">Female</mat-option>
                        </mat-select>
                        <mat-label>Gender</mat-label>
                        <mat-error *ngIf="firstForm.controls['gender']?.touched && firstForm.controls['gender'].errors && firstForm.controls['gender'].errors.required" class="errormsgred">Gender is required !</mat-error>    
                    </mat-form-field>


                    <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Email" value="" type="email" formControlName="email" (blur)="f.inputBlur(firstForm,'email')">
                        <mat-error *ngIf="firstForm.controls['email']?.touched && firstForm.controls['email'].errors && firstForm.controls['email'].errors.required" class="errormsgred">email is required !</mat-error>
                        <mat-error *ngIf="firstForm.controls['email']?.touched && firstForm.controls['email'].errors && firstForm.controls['email'].errors.pattern" class="errormsgred">Please Check yourEemail !</mat-error>
                        <span class="errormsgred" *ngIf="err==1"> Email already exists!</span>
                    </mat-form-field>

                    <!-- <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Username" value="" type="text">
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Password" value="" type="password" formControlName="password" (blur)="f.inputBlur(firstForm,'password')">
                        <mat-error *ngIf="firstForm.controls['password']?.touched && firstForm.controls['password'].errors && firstForm.controls['password'].errors.required" class="errormsgred">Password is required !</mat-error>
                        <mat-error *ngIf="firstForm.controls['password']?.touched && firstForm.controls['password'].errors && firstForm.controls['password'].errors.minlength" class="errormsgred">Confirm Password is required !</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Confirm Password" value="" type="password" formControlName="confirmpassword" (blur)="f.inputBlur(firstForm,'confirmpassword')">
                        <mat-error *ngIf="firstForm.controls['confirmpassword']?.touched && firstForm.controls['confirmpassword'].errors && firstForm.controls['confirmpassword'].errors.required" class="errormsgred">Confirm Password is required !</mat-error>
                        <mat-error *ngIf="firstForm.controls['confirmpassword']?.touched && firstForm.controls['confirmpassword'].errors && firstForm.controls['confirmpassword'].errors.minlength" class="errormsgred">Confirm Password is required !</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Phone" value="" type="text" formControlName="phone" (blur)="f.inputBlur(firstForm,'phone')">
                        <mat-error *ngIf="firstForm.controls['phone']?.touched && firstForm.controls['phone'].errors && firstForm.controls['phone'].errors.required" class="errormsgred">Phone is required !</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Stage name/Aliases" value="" type="text" formControlName="alias">
                        </mat-form-field>
                    <!-- <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Bio" value="" type="text">
                    </mat-form-field> -->
                    
                    <!-- <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="city" value="" type="text" formControlName="city" (blur)="f.inputBlur(firstForm,'city')">
                        <mat-error *ngIf="firstForm.controls['city']?.touched && firstForm.controls['city'].errors && firstForm.controls['city'].errors.required" class="errormsgred">City is required !</mat-error>
                    </mat-form-field> -->

                    <mat-form-field class="example-full-width fromgroup">
                            <input type="text" matInput placeholder="Country" formControlName="country" required [matAutocomplete]="autoGroup" (keyup)="setStatelist()"  (blur)="f.inputBlur(firstForm,'country')">
                              <mat-autocomplete #autoGroup="matAutocomplete" >
                                  <mat-option (click)="setStatelist()" *ngFor="let country of filteredCountryOptions | async"  [value]="country.name">
                                    {{country.name}}
                                  </mat-option>
                            </mat-autocomplete>
                            
                            <mat-error *ngIf="firstForm.controls['country']?.touched && firstForm.controls['country'].errors && firstForm.controls['country'].errors.required" class="errormsgred">Country is required !</mat-error>
                          </mat-form-field>
                          <span (click)="openQueryDialog()">Why is my country not listed<i class="material-icons">help_outline</i></span>
                          <mat-form-field class="example-full-width fromgroup">
                                <input type="text" matInput placeholder="State" formControlName="state" required [matAutocomplete]="autoGroup2" (keyup)="setCitylist()"  (blur)="f.inputBlur(firstForm,'state')">
                                  <mat-autocomplete #autoGroup2="matAutocomplete" >
                                      <mat-option (click)="setCitylist()" *ngFor="let state of filteredStateOptions | async"  [value]="state.name">
                                        {{state.name}}
                                      </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="firstForm.controls['state']?.touched && firstForm.controls['state'].errors && firstForm.controls['state'].errors.required" class="errormsgred">State is required !</mat-error>
                              </mat-form-field>

                    <span class="fromgroupcols">
                        <span class="fromgroupcol2">
                                <mat-form-field class="example-full-width fromgroup">
                                        <input type="text" matInput placeholder="City" required formControlName="city" required [matAutocomplete]="autoGroup3"   (blur)="f.inputBlur(firstForm,'city')">
                                          <mat-autocomplete #autoGroup3="matAutocomplete" >
                                              <mat-option *ngFor="let city of filteredCityOptions | async"  [value]="city.name">
                                                {{city.name}}
                                              </mat-option>
                                        </mat-autocomplete>
                                        
                                        <mat-error *ngIf="firstForm.controls['city']?.touched && firstForm.controls['city'].errors && firstForm.controls['city'].errors.required" class="errormsgred">City is required !</mat-error>
                                      </mat-form-field>
                        </span>
                        <span class="fromgroupcol2">
                            <mat-form-field class="example-full-width fromgroup">
                                <input matInput placeholder="Zip" value="" type="text" formControlName="zip" (blur)="f.inputBlur(firstForm,'zip')">
                                <mat-error *ngIf="firstForm.controls['zip']?.touched && firstForm.controls['zip'].errors && firstForm.controls['zip'].errors.required" class="errormsgred">Zip code is required !</mat-error>
                            </mat-form-field>
                        </span>
                    </span>
                    <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="Hometown" value="" type="text" formControlName="hometown" (blur)="f.inputBlur(firstForm,'hometown')">
                            <mat-error *ngIf="firstForm.controls['hometown']?.touched && firstForm.controls['hometown'].errors && firstForm.controls['hometown'].errors.required" class="errormsgred">Hometown is required !</mat-error>
                        </mat-form-field>
                    <mat-card-subtitle>ACCOUNT TYPE</mat-card-subtitle>
                    <span class="fromgroupcols">
                        <span class="fromgroupcol3">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" (change)="statechangeforaccounttype()" formControlName="musicians">Recording Artist!</mat-checkbox>
                                <mat-checkbox class="example-margin" (change)="statechangeforaccounttype()" formControlName="dancer">Dancer!</mat-checkbox>
                                <!-- <mat-checkbox class="example-margin">Producer!</mat-checkbox> -->
                            </section>
                        </span>
                        <span class="fromgroupcol3">
                            <section class="example-section">
                                
                                <mat-checkbox class="example-margin" (change)="statechangeforaccounttype()" formControlName="signupaffiliate">Affiliates!</mat-checkbox>
                                <mat-checkbox class="example-margin" (change)="statechangeforaccounttype()" formControlName="model">Models!</mat-checkbox>
                            </section>
                        </span>
                        <span class="fromgroupcol3">
                            <section class="example-section">
                                
                                <mat-checkbox class="example-margin" (change)="statechangeforaccounttype()" formControlName="fan">Fans!</mat-checkbox>
                            </section>
                        </span>
                        
                    </span>
                   
<ng-container *ngIf="firstForm.controls['musicians'].value!=null && firstForm.controls['musicians'].value == true">
        <mat-card-subtitle>EXPERTISE</mat-card-subtitle>
                    <span class="fromgroupcols">
                        <span class="fromgroupcol3">
                            <section class="example-section">
                                <mat-checkbox class="example-margin"  formControlName="vocalist" (blur)="f.inputBlur(firstForm,'vocalist')">Vocalist</mat-checkbox>
                                <mat-checkbox class="example-margin" formControlName="instrumentalist" (blur)="f.inputBlur(firstForm,'instrumentalist')">Instrumentalist</mat-checkbox>
                                <!-- <mat-checkbox class="example-margin">Producer!</mat-checkbox> -->
                            </section>
                        </span>
                        <span class="fromgroupcol3">
                            <section class="example-section">
                                
                                <mat-checkbox class="example-margin" formControlName="dj" (blur)="f.inputBlur(firstForm,'dj')">DJ</mat-checkbox>
                                <mat-checkbox class="example-margin" formControlName="producer" (blur)="f.inputBlur(firstForm,'producer')">Producer</mat-checkbox>
                            </section>
                        </span>
                        <span class="fromgroupcol3">
                            <section class="example-section">
                                
                                <mat-checkbox class="example-margin" formControlName="sound_engineer" (blur)="f.inputBlur(firstForm,'sound_engineer')">Sound Engineer</mat-checkbox>
                                <mat-checkbox class="example-margin" formControlName="song_writer" (blur)="f.inputBlur(firstForm,'song_writer')">Song Writer</mat-checkbox>
                            </section>
                        </span>
                        <mat-error class="errormsgred" *ngIf="(firstForm.controls['vocalist'].touched && firstForm.controls['instrumentalist'].touched && firstForm.controls['dj'].touched && firstForm.controls['producer'].touched && firstForm.controls['sound_engineer'].touched && firstForm.controls['song_writer'].touched) && (firstForm.controls['vocalist'].value == false && firstForm.controls['instrumentalist'].value == false && firstForm.controls['dj'].value == false && firstForm.controls['producer'].value == false && firstForm.controls['sound_engineer'].value == false && firstForm.controls['song_writer'].value == false )">Select At Least One Expertise!</mat-error>
                        
                    </span>
                </ng-container>
                
                    <mat-card-subtitle>PRIVACY</mat-card-subtitle>
                    <span class="fromgroupcol1">
                            <section class="example-section">
                                <mat-checkbox class="example-margin"(change)="statechangeforprivacy()"  formControlName="publicval">Public (This will be visible to the ArtistXP
                                    community) </mat-checkbox>
                                <mat-checkbox class="example-margin"(change)="statechangeforprivacy()" formControlName="privateval">Private (This will keep your stats only visible
                                    to you) </mat-checkbox>
                            </section>
                        </span>
                    <button mat-button class="btnbuyticket_genuserlan">
                        <span class="buttoncon">next</span>
                    </button>
                </form>
            </mat-list-item>
        </mat-list>
    </span>
    </mat-step>
    <mat-step [stepControl]="secondForm" >
        <ng-template matStepLabel>Step  2</ng-template>
      <span class="signupfrwrapper">
        <mat-list class="signupcontainer">
                        <mat-list-item class="signupflow signupflow2" >
                <mat-card-title class="fromtitle">
                    <span>CHOOSE ACCOUNT TYPE/SETTINGS</span>
                </mat-card-title>

                <form class="signupflowform" [formGroup]="secondForm" (ngSubmit)="secondsubmit()">
                    <!-- <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Real Name" value="" formControlName="realname">
                    </mat-form-field> -->
                    <!-- <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Aliases" value="">
                    </mat-form-field> -->

                    <!-- <mat-form-field class="example-full-width fromgroup">
                        <mat-select aria-placeholder="1234">
                            <mat-option value="male">Male</mat-option>
                            <mat-option value="female">Female</mat-option>
                        </mat-select>
                        <mat-label>Gender</mat-label>
                    </mat-form-field> -->

                    <span class="formlistwrapper">
                        <mat-card-title>Performance Category/ Genre (Music):</mat-card-title>
                        <mat-list role="list" class="scrolllight">
                                
                            <mat-list-item role="listitem"><mat-checkbox class="example-margin"  formControlName="genre">Select Genre</mat-checkbox></mat-list-item>
                            <mat-list-item role="listitem"><mat-checkbox class="example-margin"  formControlName="heavymetal">Heavy Metal</mat-checkbox></mat-list-item>
                            <mat-list-item role="listitem"><mat-checkbox class="example-margin"  formControlName="edm">EDM</mat-checkbox></mat-list-item>
                            <mat-list-item role="listitem"><mat-checkbox class="example-margin"  formControlName="rap">Rap</mat-checkbox></mat-list-item>
                            <mat-list-item role="listitem"><mat-checkbox class="example-margin"  formControlName="blues">Blues</mat-checkbox></mat-list-item>
                            <mat-list-item role="listitem"><mat-checkbox class="example-margin"  formControlName="country">Country</mat-checkbox></mat-list-item>
                            <mat-list-item role="listitem"><mat-checkbox class="example-margin"  formControlName="musical">Musical</mat-checkbox></mat-list-item>
                            <mat-list-item role="listitem"><mat-checkbox class="example-margin"  formControlName="rock">Rock</mat-checkbox></mat-list-item>
                            <mat-list-item role="listitem"><mat-checkbox class="example-margin"  formControlName="pop">Pop</mat-checkbox></mat-list-item>
                            <mat-list-item role="listitem"><mat-checkbox class="example-margin"  formControlName="hiphop">Hip-Hop (Music)</mat-checkbox></mat-list-item>
                          </mat-list>
                    </span>

                    <!-- <mat-form-field class="example-full-width fromgroup">
                  <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field> -->

                <mat-card-subtitle>ABILITY: (CHOOSE ONE ONLY) <b>Enter by the Most Experienced Dancer's Ability Level</b></mat-card-subtitle>
                <span class="fromgroupcols">
                    <span class="fromgroupcol1">
                        <section class="example-section">
                            <mat-checkbox class="example-margin" (change)="changeforexperienceddancerability()" formControlName="beginning">
                                
                              Less than Two years in any Studio environment
                              </mat-checkbox>
                            <mat-checkbox class="example-margin" (change)="changeforexperienceddancerability()" formControlName="elementary">                 
                                Two, Three or Four years of study
                              </mat-checkbox>

                              <mat-checkbox class="example-margin" (change)="changeforexperienceddancerability()" formControlName="junior">
                                
                                  Five, Six or Seven years of study
                                </mat-checkbox>

                                <mat-checkbox class="example-margin" (change)="changeforexperienceddancerability()" formControlName="senior">
                        
                                MORE than seven years of study
                                  </mat-checkbox>
                                  <mat-checkbox class="example-margin" (change)="changeforexperienceddancerability()" formControlName="private">
                        
                                        Keep This Private!
                                          </mat-checkbox>
                        </section>
                    </span>
                </span>
           <!-- for model -->
           <ng-container *ngIf="userdata.get('model')!=null && userdata.get('model') == true">
            <mat-card-subtitle>EXPERTISE</mat-card-subtitle>
                        <span class="fromgroupcols">
                            <span class="fromgroupcol3">
                                <section class="example-section">
                                        <mat-form-field class="example-full-width fromgroup inputgroup">
                                        <mat-placeholder>Height</mat-placeholder>
                                        <input matInput type="text" [formControl]="secondForm.controls['height']" (blur)="f.inputBlur(secondForm,'height')">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width fromgroup inputgroup">
                                            <mat-placeholder>Weight</mat-placeholder>
                                            <input matInput type="text" [formControl]="secondForm.controls['height']" (blur)="f.inputBlur(secondForm,'weight')">
                                        </mat-form-field>
                                        
                                    <!-- <mat-checkbox class="example-margin">Producer!</mat-checkbox> -->
                                </section>
                            </span>
                            
                            <span class="fromgroupcol3">
                                    <section class="example-section">
                                            <mat-form-field class="example-full-width fromgroup inputgroup">
                                            <mat-placeholder>Bust</mat-placeholder>
                                            <input matInput type="text" [formControl]="secondForm.controls['bust']" (blur)="f.inputBlur(secondForm,'bust')">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width fromgroup inputgroup">
                                                <mat-placeholder>Waist</mat-placeholder>
                                                <input matInput type="text" [formControl]="secondForm.controls['waist']" (blur)="f.inputBlur(secondForm,'waist')">
                                            </mat-form-field>
                                            
                                        <!-- <mat-checkbox class="example-margin">Producer!</mat-checkbox> -->
                                    </section>
                                </span>
                                <span class="fromgroupcol3">
                                        <section class="example-section">
                                                <mat-form-field class="example-full-width fromgroup inputgroup">
                                                <mat-placeholder>Hips</mat-placeholder>
                                                <input matInput type="text" [formControl]="secondForm.controls['hips']" (blur)="f.inputBlur(secondForm,'hips')">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width fromgroup inputgroup">
                                                    <mat-placeholder>Ethnicity</mat-placeholder>
                                                    <input matInput type="text" [formControl]="secondForm.controls['ethnicity']" (blur)="f.inputBlur(secondForm,'ethnicity')">
                                                </mat-form-field>
                                                
                                            <!-- <mat-checkbox class="example-margin">Producer!</mat-checkbox> -->
                                        </section>
                                    </span>
                        </span>
                    </ng-container>
                <!-- <div formArrayName="experiences" *ngFor="let creds of secondForm.controls.experiences['controls']; let i = index">
                        <div [formGroupName]="i">
                <mat-form-field class="example-full-width fromgroup inputgroup">
                    <mat-placeholder>Experiences</mat-placeholder>
                      <input matInput type="text" formControlName="exper">
                      <mat-error *ngIf="secondForm.controls['exper']?.touched && secondForm.controls['exper'].errors && secondForm.controls['exper'].errors.required" class="errormsgred">Experienced is required !</mat-error>
                      <button type="button" mat-button matSuffix mat-stroked-button aria-label="search" (click)="addCreds()">
                        <mat-icon>add</mat-icon>
                    </button>
                   <button type="button" mat-button matSuffix mat-stroked-button aria-label="search" (click)="delCreds(i)">
                        <mat-icon>remove</mat-icon>
                    </button>            
                  </mat-form-field>
                 </div>
                </div> -->

                <div formArrayName="website" *ngFor="let creds of secondForm.controls.website['controls']; let k = index">
                        <div [formGroupName]="k">
                  <mat-form-field class="example-full-width fromgroup inputgroup">
                      <mat-placeholder>Website</mat-placeholder>
                        <input matInput type="text" formControlName="wsite">
                        <mat-error *ngIf="secondForm.controls['wsite']?.touched && secondForm.controls['wsite'].errors && secondForm.controls['wsite'].errors.required" class="errormsgred">Experienced is required !</mat-error>
                        <button type="button" mat-button matSuffix mat-stroked-button aria-label="search" (click)="addweb()">
                          <mat-icon>add</mat-icon>
                      </button>
                      <button type="button" mat-button matSuffix mat-stroked-button aria-label="search" (click)="delweb(k)">
                          <mat-icon>remove</mat-icon>
                      </button>
                    </mat-form-field>
                </div>
            </div>


                    <mat-form-field class="example-full-width fromgroup inputgroup">
                        <mat-placeholder>Add Image:</mat-placeholder>
                          <input matInput type="Add Image:" disabled="disabled">
                          <button mat-button matSuffix mat-stroked-button>
                              Select File 
                              <input type="file">
                        </button>
                        
                      </mat-form-field>

                    <!-- <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Bio" value="" type="text">
                    </mat-form-field> -->

                    <!-- <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="City" value="" type="text">
                    </mat-form-field> 
                    
                    <mat-form-field class="example-full-width fromgroup">
                        <mat-select aria-placeholder="">
                            <mat-option value="male">Male</mat-option>
                            <mat-option value="female">Female</mat-option>
                        </mat-select>
                        <mat-label>Select State</mat-label>
                    </mat-form-field> -->

                    <!-- <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Address" value="" type="text">
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width fromgroup">
                        <input matInput placeholder="Zip" value="" type="text">
                    </mat-form-field>
                    <mat-card-actions class="signupbuttonwrapper">
                    <button mat-button class="btnbuyticket_genuserlan">
                        <span class="buttoncon">Next</span>
                    </button>
                    <button mat-button class="btnbuyticket_genuserlan">
                        <span class="buttoncon">Skip</span>
                    </button>
                </mat-card-actions>
                </form>
            </mat-list-item>

        </mat-list>
    </span>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 3</ng-template>
     
        <span class="signupfrwrapper">
                <mat-list class="signupcontainer">
                                <mat-list-item class="signupflow signupflow3" >
                        <mat-card-title class="fromtitle">
                            <span>CHOOSE ACCOUNT TYPE/SETTINGS</span>
                        </mat-card-title>        
                        <form class="signupflowform" [formGroup]="secondForm" (ngSubmit)="secondsubmit()">
                                <mat-accordion class="example-headers-align signupflow3wrapper">
                                        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              Personal data
                                            </mat-panel-title>                                            
                                          </mat-expansion-panel-header>
                                      
                                          <mat-form-field>
                                            <input matInput placeholder="First name">
                                          </mat-form-field>
                                      
                                          <mat-form-field class="fromgroup">
                                            <input matInput type="number" min="1" placeholder="Age">
                                          </mat-form-field>
                                      
                                          <mat-action-row>
                                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                                          </mat-action-row>
                                        </mat-expansion-panel>
                                      
                                        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              Destination
                                            </mat-panel-title>
                                            <mat-panel-description>
                                              Type the country name
                                              <mat-icon>map</mat-icon>
                                            </mat-panel-description>
                                          </mat-expansion-panel-header>
                                      
                                          <mat-form-field>
                                            <input matInput placeholder="Country">
                                          </mat-form-field>
                                      
                                          <mat-action-row>
                                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                                          </mat-action-row>
                                        </mat-expansion-panel>
                                      
                                        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              Day of the trip
                                            </mat-panel-title>
                                            <mat-panel-description>
                                              Inform the date you wish to travel
                                              <mat-icon>date_range</mat-icon>
                                            </mat-panel-description>
                                          </mat-expansion-panel-header>
                                      
                                          <mat-form-field>
                                            <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
                                          </mat-form-field>
                                          <mat-datepicker #picker></mat-datepicker>
                                      
                                          <mat-action-row>
                                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                            <button mat-button color="primary" (click)="nextStep()">End</button>
                                          </mat-action-row>
                                        </mat-expansion-panel>
                                      
                                      </mat-accordion>
                        </form>
                    </mat-list-item>        
                </mat-list>
            </span>
    </mat-step>
    <mat-step  [stepControl]="fourthForm"> 
        <ng-template matStepLabel>step 4</ng-template>
       
        <span class="signupfrwrapper">
                <mat-list class="signupcontainer">
                                <mat-list-item class="signupflow signupflow4" >
                        <mat-card-title class="fromtitle">
                            <span>CHOOSE ACCOUNT TYPE/SETTINGS</span>
                        </mat-card-title>        
                        <form class="signupflowform" [formGroup]="fourthForm" >
                            <span class="formsubtitle">
                                    INVITE FRIENDS VIA YOUR ONLINE ADDRESS BOOK
                            </span>
                            <mat-form-field class="example-full-width fromgroup" >
                                    <mat-select [formControl]="fourthForm.controls['socialcontact']">
                                        <mat-option value="gmail">Gmail</mat-option>
                                        <mat-option value="yahoo">Yahoo</mat-option>
                                    </mat-select>
                                    <mat-label>Select Service</mat-label>
                                    <mat-error class="errormsgred">Gender is required !</mat-error>  
                                    <span class="rightbutton"> 
                                    <button class="orangegradientbutton" (click)="getcontacts()" id="googleres">Get Contacts</button> 
                                </span>
                                </mat-form-field>

                               <span class="formsubtitle">
                                    ENTER YOUR FRIEND'S EMAIL ADDRESSES
                            </span>
                            <mat-form-field class="example-full-width fromgroup">
                                <!-- <input matInput type="email" placeholder="Enter Your Email Addresses"> -->
                                    <mat-chip-list #chipList aria-label="Fruit selection" >
                                      <mat-chip *ngFor="let item of contactarray" [selectable]="selectable"
                                                [removable]="removable" (removed)="remove(item)">
                                        {{item}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                      </mat-chip>
                                      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="New Email..."
                                             [matChipInputFor]="chipList"
                                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                             [matChipInputAddOnBlur]="addOnBlur"
                                             (matChipInputTokenEnd)="add($event)">
                                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                        Please enter a valid email address
                                      </mat-error>
                                      <mat-error *ngIf="emailFormControl.hasError('required') && emailFormControl.touched == true">
                                        Email is <strong>required</strong>!
                                      </mat-error>
                                    </mat-chip-list>
                                  </mat-form-field>

                            <span class="formsubtitle">
                                    EMAIL MESSAGE
                            </span>
                            <mat-form-field class="example-full-width fromgroup">
                                    <textarea matInput id="artistxpemailmessage" placeholder="" [formControl]="fourthForm.controls['artistxpmsg']"></textarea>
                                    <span class="has-error" *ngIf="axmsg == 1">Email Message field can not be blank</span>
                            </mat-form-field>
                            <span class="rightbutton rightbutton2"> 
                                    <button class="orangegradientbutton" (click)="sendartistxpmsg()">Send Email Invite</button> 
                                </span>
                                
                                <span class="formsubtitle">
                                        INVITE FRIENDS VIA SOCIAL MEDLA
                                </span>
                                <mat-form-field class="example-full-width fromgroup">
                                        <mat-select  [formControl]="fourthForm.controls['socialinvite']">
                                            <mat-option value="twitter">Twitter</mat-option>
                                            <mat-option value="linkedin">Linkedin</mat-option>
                                            <mat-option value="facebook">Facebook</mat-option>
                                            <mat-option value="tumblr">Tumblr</mat-option>
                                        </mat-select>
                                        <mat-label>Select Service</mat-label>
                                        <mat-error class="errormsgred" *ngIf="socialmediaerror==1">Select Service field can not be blank</mat-error>
                                        <span class="rightbutton"> 
                                        <button class="orangegradientbutton btnorangenew" (click)="sendsocialinvite()" >Send Social Invite</button> 
                                    </span>
                                    </mat-form-field>
                                    <button mat-button class="btnbuyticket_genuserlan" (click)="gotomainpage()">
                                            <span class="buttoncon">Submit</span>
                                        </button>
                        </form>
                    </mat-list-item>        
                </mat-list>
            </span>
      </mat-step>
    
  </mat-horizontal-stepper>
  
  
  <!-- Copyright 2019 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->


</mat-card-content>
</mat-card>
<app-footer></app-footer>
<div class="hide">

        <a class="btntwit twitteranchor" #gsharelink1  href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fshare.artistxp.com%2Fsharetool2.php%3Fmedia_id%3DArtistXP_Social_Banner.jpg%26username%3D{{affiliatename}}%26image%3DArtistXP_Social_Banner.jpg%26submittype%3Dsignup"  target="_blank"><span><i class="fa fa-twitter"></i></span></a>
        <a class="btn n-btnsocialsharenew btnfb btnnew" #gsharelink2 (click)="postinfb2(affiliatename)"><span><i class="fa fa-facebook"></i></span></a>
        <a class="btn n-btnsocialsharenew btnin btnnew" #gsharelink3 href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Fshare.artistxp.com%2Fsharetool2.php%3Fmedia_id%3DArtistXP_Social_Banner.jpg%26username%3D{{affiliatename}}%26image%3DArtistXP_Social_Banner.jpg%26submittype%3Dsignup" target="_blank"><span><i class="fa fa-linkedin"></i></span></a>
        <a class="btn n-btnsocialsharenew btntumblr btnnew" #gsharelink4  href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=http%3A%2F%2Fshare.artistxp.com%2Fsharetool2.php%3Fmedia_id%3DArtistXP_Social_Banner.jpg%26username%3D{{affiliatename}}%26image%3DArtistXP_Social_Banner.jpg%26submittype%3Dsignup" target="_blank"><span><i class="fa fa-tumblr"></i></span></a>
      
      </div>