
<mat-card class="modalmainwrapper">
    <span class="modallogowrapper">
      <img src="../../../assets/images/artistheaderlogo.png">
    </span>
    <mat-card-title>This is a Dialog title</mat-card-title>
    <mat-card-subtitle>By using Artist's properties, you agree to our use of cookies, including for analytics and targeted advertising, as described in our <a [routerLink]="['/']" target="_blank" class="linktxt">Cookie Policy</a>.</mat-card-subtitle>
    <mat-card-actions class="modalbuttonwrapper"> 
    <button class="mat-raised-button btnpink" [mat-dialog-close]="data.agreeterms" >I Agree</button>
    <!-- <button class="mat-raised-button btnpink">Close</button> -->
    </mat-card-actions>
    <button mat-button class="modalclosebtn" (click)="onNoClick()"><i class="material-icons">close</i></button>
</mat-card>