<!--<div class="signupforblockchainblocktop">
  <p>Lorem Ipsum is simply dummy text of</p>
</div>-->

<div class="signupforblockchainblocknav">
        <div class="signupforblockchainblocknavwrapper">
          <app-signupheader></app-signupheader>
        </div>
      </div>
      
      <div class="container-fluid communitysignupnewblock1 signupforblockchainblock1 signupforblockchainstep2 signupforblockchainconfirm">
        <div class="row signupforblockchainstep2row">
          <div class="container newwrapper">
            <div class="communitysignupnewblock1inner">
              <div class="communitysignupnewblock1left">
                <div class="bannerleftnew">
                  <h2 class="titletxt2">Order Confirmation</h2>
                  <p>Thank you for your Initial Start-Up Media Package purchase through ArtistXP.com.  This package includes a one-time application fee of $10.00 for processing your KYC (Know Your Customer) background check, as well as a $19.95 purchase of ten (10) media slots upon approval of KYC.
                  </p>
      
                  <h3 class="titletxth3"><span><a href="{{ clickHereUrl }}" target="_blank">Click Here</a></span> to proceed with your KYC background check.</h3>
                </div>
                <div class="blockchainprod">
                  <div class="blockchainprodleft">
                    <img src="../../assets/images/signupblockchainlogoicon.png">
                  </div>
                  <div class="blockchainprodright">
                    <table>
                      <tbody>
                      <tr>
                        <td data-label="Img"><img src="../../assets/images/signupblockchainstep2tickicon.png"></td>
                        <td data-label="Item">KYC Identity Verification One Time Process <br>NOT REFUNDABLE</td>
                        <td data-label="Amount">$10.00</td>
                      </tr>
                      <tr>
                        <td data-label="Img"><img src="../../assets/images/signupblockchainstep2tickicon.png"></td>
                        <td data-label="Item">10 BlockChain Credits</td>
                        <td data-label="Amount">$19.95</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
      
                <!-- <div class="blockchainpordersummerywrapper">
                  <div class="blockchainpordersummery">
                    <h2 class="titletxt2">Order Information</h2>
                    <div class="blockchainpordersummerytable">
                      <table>
                        <thead>
                        <tr>
                          <td colspan="5">Order Summary</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td data-label="Img" class="iconnew"><span class="signupblockchainlogoicon"><img src="../../assets/images/signupblockchainlogoicon.png"></span></td>
                          <td data-label="Item Name">Clothing | Fitted Tank Top</td>
                          <td data-label="Quentity">3</td>
                          <td data-label="Description" class="descnew">Lorem Ipsum is</td>
                          <td data-label="Amount">$000.00</td>
                        </tr>
                        </tbody>
                      </table>
      
                    </div>
      
      
                  </div>
                  <h5>*This purchase is non-refundable and non-transferrable.  Please see our <span>*Refund Policy*</span>.</h5>
                </div> -->
      
              </div>
      
            </div>
          </div>
          <div class="signupforblockchainstep2overlay"></div>
        </div>
      
      </div>
      
      
      <app-footer></app-footer>
      
