<mat-card>
    <mat-card-content class="signupbody">
        <app-signupheader></app-signupheader>
        <span class="signupfrwrapper">
            <mat-list>
                <mat-list-item>
                    <mat-card-title class="fromtitle">
                        <span>CHOOSE ACCOUNT TYPE/SETTINGS</span>
                    </mat-card-title>
                    <form class="signupflowform">
                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="First Name" value="">
                        </mat-form-field>
                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="Last Name" value="">
                        </mat-form-field>

                        <!-- <mat-form-field class="example-full-width fromgroup">
                      <textarea matInput placeholder="Leave a comment"></textarea>
                    </mat-form-field> -->

                        <mat-form-field class="example-full-width fromgroup">
                            <mat-select aria-placeholder="1234">
                                <mat-option value="male">Male</mat-option>
                                <mat-option value="female">Female</mat-option>
                            </mat-select>
                            <mat-label>Gender</mat-label>
                        </mat-form-field>


                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="Email" value="" type="email">
                        </mat-form-field>

                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="Username" value="" type="text">
                        </mat-form-field>
                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="Password" value="" type="password">
                        </mat-form-field>
                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="Confirm Password" value="" type="email">
                        </mat-form-field>
                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="Phone" value="" type="text">
                        </mat-form-field>
                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="Stage name/Aliases" value="" type="text">
                        </mat-form-field>
                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="Bio" value="" type="text">
                        </mat-form-field>
                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="Hometown" value="" type="text">
                        </mat-form-field>
                        <mat-form-field class="example-full-width fromgroup">
                            <input matInput placeholder="city" value="" type="text">
                        </mat-form-field>

                        <span class="fromgroupcols">
                            <span class="fromgroupcol2">
                                <mat-form-field class="example-full-width fromgroup">
                                    <mat-select aria-placeholder="">
                                        <mat-option value="male">Male</mat-option>
                                        <mat-option value="female">Female</mat-option>
                                    </mat-select>
                                    <mat-label>Select State</mat-label>
                                </mat-form-field>
                            </span>
                            <span class="fromgroupcol2">
                                <mat-form-field class="example-full-width fromgroup">
                                    <input matInput placeholder="Zip" value="" type="text">
                                </mat-form-field>
                            </span>
                        </span>

                        <mat-card-subtitle>ACCOUNT TYPE</mat-card-subtitle>
                        <span class="fromgroupcols">
                            <span class="fromgroupcol3">
                                <section class="example-section">
                                    <mat-checkbox class="example-margin">Musician!</mat-checkbox>
                                    <mat-checkbox class="example-margin">Producer!</mat-checkbox>
                                </section>
                            </span>
                            <span class="fromgroupcol3">
                                <section class="example-section">
                                    <mat-checkbox class="example-margin">Dancer!</mat-checkbox>
                                    <mat-checkbox class="example-margin">Affiliates!</mat-checkbox>
                                </section>
                            </span>
                            <span class="fromgroupcol3">
                                <section class="example-section">
                                    <mat-checkbox class="example-margin">Models!</mat-checkbox>
                                    <mat-checkbox class="example-margin">Fans!</mat-checkbox>
                                </section>
                            </span>
                            <span class="fromgroupcol1">
                                <section class="example-section">
                                    <mat-checkbox class="example-margin">Public (This will be visible to the ArtistXP
                                        community) </mat-checkbox>
                                    <mat-checkbox class="example-margin">Private (This will keep your stats only visible
                                        to you) </mat-checkbox>
                                </section>
                            </span>
                        </span>

                        <button mat-button class="btnbuyticket_genuserlan">
                            <span class="buttoncon">submit</span>
                        </button>
                    </form>
                </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
            </mat-list>
        </span>
    </mat-card-content>
</mat-card>
<app-footer></app-footer>