
<div class="container-fluid communitysignupnewblock1 competitionblock1mainwrapper comrupetitionblock1mainwrapper">
    <div class="row">
      <div class="newwrapper">
        <div class="communitysignupnewblock1inner">
          <div class="communitysignupnewblock1left">
            <app-signupheader></app-signupheader>
            <div class="bannerleftnew bannerleftnew1">
              <h4>Competition Rules Page</h4>
              <p>We want ArtistXP to be a community where everyone feels
                respected. It’s up to all of us to make that happen. This page includes important information about our expectations of you
                while using ArtistXP. Please take the time to carefully
                read through this information; we take these
                guidelines seriously and expect you
                to do the same.
              </p>
              <div class="combuttonwrapper">
                <button class="btn btncom" [routerLink]="['/communityguildelines']">View Community Guidelines</button>
              </div>
            </div>
  
          </div>
          <div class="communitysignupnewblock1right">
            <div class="formdiv"></div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  <div class="competitionblockmainwrapper comrupetitionblock3mainwrapper">
    <div class="comrupetitionblock2subwrapper">
      <div class="comtextwrapper">
        <h1>Competition Rules</h1>
        <p>Each competition may have separate rules regarding different prizes and regulations that may follow them. Please review the competition rules fully for the category you would like to apply for.</p>
        <h4>Choose which competition Rules you would like to view</h4>
      </div>
      <div class="combuttonwrapper">
        <a class="btn orangebtn" [routerLink]="['/dancercompetitionrules']">Dancer Competition Rules </a>
        <a class="btn orangebtn" [routerLink]="['/producercompetitionrules']">Producer Competition Rules</a>
        <a class="btn orangebtn" [routerLink]="['/rappercompetitionrules']">Rapper Competition Rules </a>
        <a class="btn orangebtn" [routerLink]="['/vocalistcompetitionrules']">Vocalist Competition Rules</a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  
  